<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CovidKart - F  by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <!-- <body class="goto-here">
		<div class="py-1 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div> -->
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/home">CovidKart</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
	          <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	          <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" id="gg" class="active">Groceries</a></li>
    					<li><a href="#" id="mm" >Medicines</a></li>
    					<li><a href="#" id="hh">Household Equipments</a></li>
    				</ul>
    			</div>
			</div>
			<div class="row">
				<div class="text-center">
					<h3>Medical</h3>
				</div>
			</div>
    		<div class="row" id="meds">
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/medicine.jpg" alt="Colorlib Template">
    						
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#"></a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">Rs 100</span><span class="price-sale">$80.00</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a class="item1" href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/medicine.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">item4</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 5000</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item2">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/medicine.jpg" alt="Colorlib Template">
	    					<div class="overlay"></div>
	    				</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">item7</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 700</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item3">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/medicine.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">item9</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 1000</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item4">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>


    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/medicine.jpg" alt="Colorlib Template">
    						
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">item10</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">Rs 150</span><span class="price-sale">$80.00</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item5">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					<h3>Groceries</h3>
				</div>
			</div>
			<div class="row" id="veges">
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-5.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Tomatoes</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 500</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item6">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-7.jpg" alt="Colorlib Template">
	    					<div class="overlay"></div>
	    				</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Carrot</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 1200</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item7">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
				</div>
				</div>
				<div class="row">
					<div class="text-center">
						<h3>Household  Equipments</h3>
					</div>
				</div>
				<div class="row" id="house">
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-8.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Bottles</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 1000</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item8">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/broom.jpg" alt="Colorlib Template">
    						
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Broom</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">Rs 1500</span><span class="price-sale">$80.00</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item9">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="images/tp.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Toilet Paper</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs 1500</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 item10">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		
    </section>

   
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  <script>
	  var i1 = $(".item1");
	  var i2 = $(".item2")
	  var i3 = $(".item3")
	  var i4 = $(".item4")
	  var i5 = $(".item5")
	  var i6 = $(".item6")
	  var i7 = $(".item7")
	  var i8 = $(".item8")
	  var i9 = $(".item9")
	  var i10 = $(".item10")

	  i1.click(() => {
  
		console.log("sdjkf")
		$.post("http://localhost:3000/buy?" + $.param({itemId: 1}), (data, status) => {
			alert("dkjf")
			console.log("dkjf")
		})
	  })
	  i2.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=2",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i3.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=3",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i4.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=4",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i5.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=5",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i6.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=6",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })

	  i7.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=7",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i8.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=8",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i9.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=9",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  i10.click(() => {
		$.ajax({
			type: "POST",
			url: "https://localhost:3000/buy?itemId=10",
			xhrFields: {
				withCredentials: true
			},
			success: () => {console.log("Good")},

		});	  
	  })
	  var veges = $('#veges');
	  var meds = $('#meds');
	  var house = $('#house');
	  $("#gg").click(() =>
		{
			$('html,body').animate({
			scrollTop: veges.offset().top},
			'slow');
			$("#gg").addClass("active");
			if($("#hh").hasClass("active")) $("#hh").removeClass("active");
			if($("#mm").hasClass("active")) $("#mm").removeClass("active");
		}
	  );
	  $("#mm").click(() =>
		{
			$('html,body').animate({
			scrollTop: meds.offset().top},
			'slow');
			$("#mm").addClass("active");
			if($("#hh").hasClass("active")) $("#hh").removeClass("active");
			if($("#gg").hasClass("active")) $("#gg").removeClass("active");
		}
	  );
	  $("#hh").click(() =>
		{
			$('html,body').animate({
			scrollTop: house.offset().top},
			'slow');
			$("#hh").addClass("active");
			if($("#gg").hasClass("active")) $("#gg").removeClass("active");
			if($("#mm").hasClass("active")) $("#mm").removeClass("active");
		}
	  );

  </script>
    
  </body>
</html>